* {
  margin: 0;
}
body {
  background-color: #fafafa;
  /**background-color: #57f38693;*/
  margin-bottom: 28px;
  overflow-x: hidden;
}
header {
  background-color: white;
  border-bottom: solid #dcdcdc;
  /*THE FOLLOWING FOR A STICKY HEADER!*/
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: black;
}

.center {
  object-fit: contain;
  text-align: center;

  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.center img {
  object-fit: contain;
}
.right {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
#login2 {
  display: none;
}
.left {
  width: 100%;
  background-color: rgb(255 238 238);
  margin: auto;
}
.left2 {
  display: none;
}
i.fa-solid.fa-house-user {
  font-size: 30px;
}
.left ul {
  width: 100%;
  display: grid;
  background: white;
  grid-template-columns: 1fr 1fr;
}

.right ul {
  grid-auto-flow: column;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  margin: auto;
}

/**these are styling to make the dropdown menu on the profile pic*/
.right ul li {
  position: relative; /**NEW */
}

.right ul li ul {
  display: none;
  position: absolute;
}
/**
.right ul li:hover ul {
  display: block;
}
*/
.right ul li:hover ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/**makes it wide enough so all text can fit in one line*/
.right ul li ul li {
  width: 100px;
  min-width: fit-content;
  white-space: nowrap;
  background-color: #f79e9e; /**bg for dropdown*/
  border-style: solid #dcdcdc;
}

.right ul li ul li a {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.right ul li ul li a:hover {
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
}

/*left side drop down when screen does small**/
.left2 ul li {
  position: relative; /**NEW */
}

.left2 ul li ul {
  display: none;
  position: absolute;
  /* display: flex; */
}
.left2 ul li:hover ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/**makes it wide enough so all text can fit in one line*/
.left2 ul li ul li {
  width: 100px;
  background-color: #f79e9e; /**bg for dropdown*/
  border-style: solid #dcdcdc;
}

.left2 ul li ul li a {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.left2 ul li ul li a:hover {
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
}

/**-------DROP DOWN MENY=U----------------*/
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  width: 100%;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar li {
  display: inline-block;
}

.nav_avatar {
  width: 100%;
  max-width: 32px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
  padding: 2px;
  vertical-align: text-bottom;
}

/**EVERYTHING ABOVE IS FOR THE HEADER!*/
/*=================================================================================================**/

/* Footer */
footer p {
  position: fixed;
  text-align: right;
  border-top: solid #dcdcdc;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: white;
  padding-top: 5px;
}
/**===============================================*/
/**MEDIA QUERIES TO MAKE RESPONSIVE===============================================*/

@media screen and (max-width: 680px) {
  .mySlides img {
    width: 650px !important;
  }
}
/**img on top and text bottom below when screen is this small*/
@media screen and (max-width: 760px) {
  .mySlides img {
    aspect-ratio: 4/2 !important;
    max-width: 750px !important;
  }
  .aboutUs {
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    height: 100%;
    min-height: 500px;
    max-height: 400px;
    margin-right: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .postBox {
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .textBox {
    margin-right: unset;
    margin: auto;
  }
  .imgBox {
    margin-bottom: 20px;
  }
  footer {
    margin-top: 40px;
  }
  /******settings******/
  .settingsBox {
    display: flex;
    gap: 00px !important;
    margin-top: 35px;
    flex-direction: column;
  }
  .settingLinksIcons {
    display: unset !important;
    font-size: 30px;
  }
  .settingLinks {
    display: none;
  }
}

/**at a max width of 1000px-- header changes to home icon on left and profile icon on right */
@media screen and (max-width: 1000px) {
  /**home page img*/

  .mySlides img {
    max-width: 850px;
  }

  /**settings page */

  #editProfileText {
    display: none;
  }
  #myAccountText {
    display: none;
  }
  .settingLinks ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
    width: max-content;
    margin: auto;
  }

  .settingLinks a {
    font-size: 20px !important;
  }
  .settingsBox {
    display: flex;
    gap: 40px !important;
    margin-top: 35px;
  }
  .myAccount {
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: max-content;
    gap: 0px !important;
    padding: 15px;
    flex-direction: column !important;
  }
  /**header stuff below **/

  .left2 {
    display: block;
  }
  .left2 ul {
    width: 100%;
    display: grid;
    background: white;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #login2 {
    display: block;
  }

  #login {
    display: none;
  }

  .left {
    display: none;
  }

  #about_header {
    display: none;
  }

  #fav {
    display: none;
  }

  #post {
    display: none;
  }

  #signup {
    display: none;
  }

  .mySlides img {
    width: 980px;
  }

  .right ul {
    width: 100%;
    display: grid;
    background: white;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .right ul li ul li {
    min-width: max-content;
    white-space: normal;
  }
} /*MAX WIDTH 999 IS WHERE IT SWITCH TO 2 POSR*/

@media only screen and (max-width: 1164px) {
  .postBox {
    gap: 1%;
    align-items: center !important;
  }
  /**settings page*/
  .myAccount {
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: max-content;
    gap: 10px;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1164px) and (max-width: 1184px) {
  #cke_1_contents {
    height: 205px !important;
  }

  .postBox {
    gap: 1%;
  }
}
@media only screen and (min-width: 1184px) and (max-width: 1204px) {
  #cke_1_contents {
    height: 210px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1204px) and (max-width: 1214px) {
  #cke_1_contents {
    height: 215px !important;
  }

  .postBox {
    gap: 1%;
  }
}
@media only screen and (min-width: 1214px) and (max-width: 1224px) {
  #cke_1_contents {
    height: 220px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1224px) and (max-width: 1244px) {
  #cke_1_contents {
    height: 230px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1244px) and (max-width: 1264px) {
  #cke_1_contents {
    height: 240px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1264px) and (max-width: 1284px) {
  #cke_1_contents {
    height: 245px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1284px) and (max-width: 1304px) {
  #cke_1_contents {
    height: 250px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1304px) and (max-width: 1324px) {
  #cke_1_contents {
    height: 255px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1324px) and (max-width: 1344px) {
  #cke_1_contents {
    height: 260px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1344px) and (max-width: 1364px) {
  #cke_1_contents {
    height: 270px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1384px) and (max-width: 1399px) {
  #cke_1_contents {
    height: 290px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (min-width: 1364px) and (max-width: 1384px) {
  #cke_1_contents {
    height: 280px !important;
  }

  .postBox {
    gap: 1%;
  }
}

@media only screen and (max-width: 1405px) and (min-width: 1399px) {
  .postBox {
    gap: 1%;
  }

  #cke_1_contents {
    min-height: 294px !important;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1405px) {
  .postBox {
    gap: 1%;
  }

  #cke_1_contents {
    min-height: 294px !important;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1508px) {
  .postBox {
    gap: 1%;
  }

  #cke_1_contents {
    height: 290px !important;
  }
}

@media only screen and (min-width: 1508px) and (max-width: 1530px) {
  .postBox {
    gap: 1%;
  }

  #cke_1_contents {
    height: 324px !important;
  }
}

@media only screen and (min-width: 1528px) {
  .postBox {
    gap: 1%;
  }

  #cke_1_contents {
    height: 328px !important;
  }
}
/*ABOUT PAGE CSS*/
.aboutUsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  min-height: 500px;
  max-height: 100%;
  margin-right: 50px;
  margin-left: 50px;
}

/**the search page css -- the drop down filter**/
select#filter {
  text-align: center;
  font-family: monospace;
  border: solid 1px #d87f7ffc;
  background-color: ghostwhite;
}

form#searchFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

@media only screen and (max-height: 720px) {
  html {
    zoom: 90%;
  }
  .postBox {
    margin: unset;
  }
}

@media only screen and (max-width: 1240px) and (max-height: 700px) {
  html {
    zoom: 80%;
  }
  .postBox {
    margin: unset;
  }
}
