/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  /* position: absolute; */
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/**====SEARCH BAR======================================================================================*/
.searchBar {
  width: 100%;
  max-width: 300px;
  display: inline-flex;
}

.searchBar_input {
  flex-grow: 1; /**want the search bar input to take up the remaining horizontal space*/
  padding: 10px;
  outline: none;
  border: 1px solid rgb(250, 135, 154);
  border-radius: 5px 0 0 5px; /**smooth border on top left and bottom left*/
  background: rgb(255, 227, 232);
  transition: background 0.25s, box-shadow 0.25s;
}

.searchBar_input:focus {
  background: white;
  box-shadow: 0 0 2px rgb(208, 121, 135);
}

.searchBar_input::placeholder {
  /*makes the placeholder value same color has the box shadow*/
  color: rgb(208, 121, 135);
}

.searchBar_button {
  width: 40px;
  background: rgb(250, 135, 154); /*same color as the border of the input*/
  color: white; /*makes the search icon white*/
  outline: none;
  border: none;
  display: flex;
  /*center it horizontally and vertically */
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0; /*top right and bottom right curve*/
  cursor: pointer;
  user-select: none;
}

.searchBar_button:active {
  box-shadow: inset 0 0 30px rgb(0, 0, 0, 0.25);
}
