.userProfileHeader {
  display: flex;
  width: min-content;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 50px;
}

.profileHeader-userID-edit {
  display: flex;
  gap: 10px;

  height: 25px;
}

p.postNum {
  font-weight: bold;
}

p.postNum::after {
  content: " posts";
  font-weight: normal;
}
.wrapper-post {
  margin: 0 20vw;
}
#post-gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    320px
  ); /*it will auto resize itself and fits the caraccordinly */
  justify-content: center;
  column-gap: 20px;
  max-width: 1000px; /*makes it only 3 card a page [max]*/
  width: 100%;
  row-gap: 20px;

  margin: auto;
  padding: 0;
}

#post-gallery .card {
  max-width: 320px;
  height: 400px;
  max-height: 400px;
  background-color: white;
  border: 3px solid grey;
}

#post-gallery .card .post-img {
  height: 70%;
  width: 90%;
  margin: auto;
  /* margin-top: 0px; */
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover; /**should cover the entire img frame*/
  background-position: center; /**centers thee image(crop)*/
  cursor: pointer;
  border: solid 2px grey;
  background-image: url("../images/DEFAULT.jpg");
}
#post-gallery .card img {
  height: 70%;
  width: 90%;
  margin: auto;
}

.caption {
  text-align: center;
  white-space: nowrap; /*keeps it in one line*/
  overflow: hidden;
  margin: 9px 12px 0px 12px;
}

/**DROP DOWN MENU FOR THE VERTICAL DOTS*/
.card ul {
  text-align: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: min-content;
}
.card ul li {
  text-align: center;
  position: relative;
  padding: 0px;
  margin: 0px;
  /* height: min-content; */
  display: inline-block;
}
.card ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: -12px;
}

.card ul li:hover ul {
  display: block;
}

.card ul li ul li {
  width: 60px;
  background-color: #f79292;
  border-style: solid #dcdcdc;
}

button.myPage-updatePost {
  background-color: transparent;
  border: none;
}
button.myPage-updatePost:hover {
  background-color: white;
  width: 100%;
}

form.myPage-form {
  display: inline-flex;
}

/**END OF CSS FOR DROP DOWN MENU FOR VERTICAL*/
