/* Header */

header {
	border-bottom: 2px solid rgb(248, 246, 248);
    text-align:center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 165, 231);
}

header li {
    float: left;
}

header li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: rgb(252, 248, 248);
}

.active {
    background-color: #ff06de;
}

/* Body */

body {
    background-color: rgb(241, 165, 231);
    font-family: 'Times New Roman', Times, serif;
}

/* Main
main {
     
}*/



/* Table */
table {
	border: 1.5px solid black;
	border-collapse: collapse;
}

/* Form */

/*label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  width: 350px;
  margin-bottom: 10px;
}

label input, label select {
  flex: 0 0 180px;
  margin-left: 80px;
} */

/* Footer */
footer p {
	position: fixed;
    text-align: right;
    border-top: 2px solid rgb(248, 246, 248);
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}